# List of Git-ignored paths.
# Copyright (c) 2025, Quinn Stephens, w1redch4d
# All rights reserved.
# Provided under the BSD 3-Clause license.

.*
!.gitattributes
!.gitignore
/build
/build_rel
/disk
/unused

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.efi

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
compile_commands.json
dkms.conf

# debug information files
*.dwo

# Disk images
*.img
*.iso
*.fd
